@use "./non-printed";
@use "./units";
@use "./spells";
@use "./rules";
@use "./notes";

html {
  max-width: 100ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Superclarendon, "Bookman Old Style", "URW Bookman",
    "URW Bookman L", "Georgia Pro", Georgia, serif;
  margin: 0;
}

p,
ul,
ol {
  margin-bottom: 2em;
  color: #1d1d1d;
}

ul,
ol {
  list-style-position: inside;
}

img {
  max-width: 95%;
}

@media print {
  html,
  body {
    font-size: 11pt;
    max-width: unset;
    padding: 0;
  }
}

.army_list {
  font-size: 1rem;
}

.army_list__header {
  display: flex;
  justify-content: space-between;
  border-top: 0.2rem solid black;
  padding-top: 0.4rem;
  margin-bottom: 3rem;
  h1 {
    font-size: 2rem;
    line-height: 1;
  }
}

.army_list__meta {
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1;
}

@page {
  margin-top: 2cm;
  margin-left: 1cm;
  margin-right: 1cm;
  margin-bottom: 2cm;
}
