html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
	font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3em 0 1em;
	font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
}

p,
ul,
ol {
  margin-bottom: 2em;
  color: #1d1d1d;
}

.paste-area {
  width: 100%
}