<header class="army_list__header">
  <h1>{{army.name}}</h1>
  <span class="army_list__meta">{{army.points}} {{army.system}}</span>
</header>
<ol class="units">
  {% for unit in army.units %}
  <li class="unit">
    <div class="unit__headline">
      <h2>{{unit.name}}</h2>
      <span>
        <span class="unit_stat unit_stat--quality">{{unit.quality}}</span
        ><span class="unit_stat unit_stat--defense">{{unit.defense}}</span>
      </span>
    </div>
    <div class="unit__wrapper">
      <div class="unit__main">
        <div class="unit__rules">{{unit.special_rules}}</div>
        <ul class="unit__weapons">
          {% for weapon in unit.weapons %}
          <li>{{weapon}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="unit__remaining-stats">
        <span>{{unit.points}} pts </span>
        {% match unit.xp%} {%when Some with (xp)%}
        <span>{{xp}} xp </span>
        {%when None%} {% endmatch%} {% if unit.models != "1" %}
        <span>{{unit.models}} models</span>{% endif %} {% if unit.count != "1"
        %}<span>{{unit.count}}x</span>{% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ol>
{% match spells%} {%when Some with (spells)%}
<div class="spells">
  <h2>Spells</h2>
  <ol class="spells__list">
    {% for spell in spells %}
    <li><b>{{spell.name}}:</b> {{spell.value}}</li>
    {% endfor %}
  </ol>
  {%when None%} {% endmatch%}
</div>
{% match rules%} {%when Some with (rules)%}
<div class="rules">
  <h2>Rules</h2>
  <ol class="rules__list">
    {% for rule in rules %}
    <li><b>{{rule.name}}:</b> {{rule.value}}</li>
    {% endfor %}
  </ol>
  {%when None%} {% endmatch%}
</div>
