<header class="army_list__header">
  <h1>{{name}}</h1>
  <span class="army_list__meta">{{points}} {{system}}</span>
</header>
<ol class="units">
  {% for unit in units %}
  <li class="unit">
    <div class="unit__headline">
      <h2>{{unit.name}}</h2>
      <span>{{unit.quality}}/{{unit.defense}}</span>
    </div>
    <div class="unit__wrapper">
      <div class="unit__main">
        <div class="unit__rules">{{unit.special_rules}}</div>
        <ul class="unit__weapons">
          {% for weapon in unit.weapons %}
          <li>⚔ {{weapon}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="unit__remaining-stats">
        <span>{{unit.points}} pts </span>

        {% if unit.models != "1" %} <span>{{unit.models}} models</span>{% endif
        %} {% if unit.count != "1" %}<span>{{unit.count}}x</span>{% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ol>
